.descriptionVideo{
    text-align: justify;
}

.trailerItem:hover {
    background-color: #E0E0E0;
}

.title_list_item {
    padding-top: 20px;
    text-align: center;
}

.videoNoPresent {
    padding-top: 100px;
    text-align: center;
}

.trailers {
    margin-top: 10px;
}

.react-autosuggest__input {
    width: 100%;
}
  
.react-autosuggest__suggestions-list {
    list-style-type: none;
}